# -----------------------------------------------------------------------------
# Configuration JDBC
#   (Tokio, etc.)
# -----------------------------------------------------------------------------

jdbc.user = ${databaseUser}
jdbc.pwd = ${databasePassword}
jdbc.catalog = ${databaseCatalog}
jdbc.server = jdbc:sybase:Tds:${databaseServer}:${databasePort}

# -----------------------------------------------------------------------------
#    Configuration test GUI
# -----------------------------------------------------------------------------

gui.default.class = ${clientMainClass}
gui.default.method = main
gui.default.arg.0 = ${defaultTestUser}
gui.default.arg.1 = ${defaultTestUserPassword}
gui.default.arg.2 = ${serverHost}
gui.default.arg.3 = ${serverPort}

# -----------------------------------------------------------------------------
#    Configuration framework test-release en mode agent
# -----------------------------------------------------------------------------

testEnvironment.class = net.codjo.test.release.agent.AgentTestEnvironment
testEnvironment.user = ${defaultTestUser}
testEnvironment.pwd = ${defaultTestUserPassword}
testEnvironment.host = ${serverHost}
testEnvironment.port = ${serverPort}

# -----------------------------------------------------------------------------
#    Configuration batch
# -----------------------------------------------------------------------------

# Mode local

batch.start.class    = ${batchMainClass}
batch.configuration  = ${project.basedir}/target/config/batch-local.config

broadcast.output.dir        = ${project.basedir}/target/release-test/tmp
broadcast.output.remote.dir = ${unixProjectDirectory}/DAT1/OUT

# Mode remote

remote.server = ${serverHostInt}
remote.user = ${unixLogin}
remote.project.dir = ${unixProjectDirectory}
        